<h1>List of photos</h1>




<hr>
<table border=1>

  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>
<% @list_of_all_photos.each do |a_photo|%>
  <tr>
    <th><img src="<%= a_photo.image%>"> </th>
    <th><%= a_photo.caption%></th>
    <th><%= a_photo.poster.username%></th>
    <th><%= a_photo.created_at%></th>
    <th>
    <a href="/photos/<%= a_photo.id%>"> Show details </a>
    </th>
  
  </tr>
<%end%> 



</table>
